<nav class="site-nav">
    <div class="site-nav__list-wrap">
        <ul class="site-nav__list">
            <li>
                <a href="./o-kompanii.html">
                    <span>Компания</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Контакты</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Продукция</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Услуги</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>Документы</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="site-nav__top">
        <div class="site-nav__contacts">
            <a class="phone" href="tel:+78352418400">+7 (8352) <span> 41-84-00</span></a>
            <a class="email" href="mailto:418400@mail.ru">418400@mail.ru</a>
        </div>

        <a class="site-nav__logo" href="#">
            <picture>
                <source type="image/webp" media="(min-width: 1060px)" srcset="
                        ../logo/logo-1920.webp,
                        ../logo/logo-390@2x.webp 2x,
                        ../logo/logo-390@3x.webp 3x">
                <source type="image/webp" srcset="
                        ../logo/logo-178@1x.webp 1x,
                        ../logo/logo-178@2x.webp 2x,
                        ../logo/logo-178@3x.webp 3x">
                <source type="image/jpeg" media="(min-width: 1060px)" srcset="
                        ../logo/logo-1920.png 1x,
                        ../logo/logo-390@2x.png 2x,
                        ../logo/logo-390@3x.png 3x">
                <source type="image/jpeg" srcset="
                        ../logo/logo-178@1x.png 1x,
                        ../logo/logo-178@2x.png 2x,
                        ../logo/logo-178@3x.png 3x">

                <img src="/../logo/logo.png" alt="Логотип ООО НПП Контур">
            </picture>
            <span>ИСО 9001-2015 (ISO 9001:2015)</span>
        </a>

        <p class="site-nav__address">
            г. Чебоксары,<br>
            Ядринское шоссе, д.3А
        </p>
    </div>


</nav>