<p></p><div class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="https://np-kontur.ru/" rel="v:url" property="v:title">Главная</a> / </span> <span typeof="v:Breadcrumb">Документы</span></div><p></p>
<article></article>
<h2>Документы по специальной  оценке условий труда</h2>
<ul class="doc-slider">
    <li>
        <a href="https://np-kontur.ru/userfiles/doc/perechen-rekomenduemyh-meropriyatij-po-uluchsheniyu-uslovij-truda.pdf" target="_blank">
            <img src="https://np-kontur.ru/userfiles/doc/perechen-rekomenduemyh-meropriyatij-po-uluchsheniyu-uslovij-truda.jpg" alt="Перечень рекомендуемых мероприятий по улучшению условий труда">
        </a>
    </li>
    <li>
        <a href="https://np-kontur.ru/userfiles/doc/svodnaya-vedomost-rezultatov-provedeniya-sout.pdf" target="_blank">
            <img src="https://np-kontur.ru/userfiles/doc/svodnaya-vedomost-rezultatov-provedeniya-sout---0001.jpg" alt="Сводная ведомость результатов проведения СОУТ">
        </a>
    </li>
</ul>

<h2>Учредительные документы</h2>
<ul class="doc-slider">
    <li>
        <a href="https://np-kontur.ru/userfiles/doc/sertifikat-iso-do-11-11-2025.pdf" target="_blank" rel="noopener noreferrer">
            <img src="https://np-kontur.ru/userfiles/doc/sertifikat-iso-do-11-11-2025---0001-preview.jpg">
        </a>
    </li>
    <li>
        <a href="https://np-kontur.ru/userfiles/doc/sertifikat-npp-smi-2022.jpg" rel="prettyPhoto[editor]">
            <img src="https://np-kontur.ru/userfiles/doc/sertifikat-npp-smi-2022-preview.jpg">
        </a>
    </li>
    <li>
        <a href="https://np-kontur.ru/userfiles/doc/svidetelstvo-o-postanovke-na-uchet-inn-ogrn.jpg" rel="prettyPhoto[editor]">
            <img src="https://np-kontur.ru/userfiles/doc/svidetelstvo-o-postanovke-na-uchet-inn-ogrn.jpg">
        </a>
    </li>
    <li>
        <a href="https://np-kontur.ru/userfiles/doc/deklaraciya-o-diel-otvertkah.jpg" rel="prettyPhoto[editor]">
            <img src="https://np-kontur.ru/userfiles/doc/deklaraciya-o-diel-otvertkah.jpg">
        </a>
    </li>
</ul>

<a class="btn-link" href="https://np-kontur.ru/userfiles/doc/kartochka-npp-kontur-avangard.doc" target="_blank">Карточка НПП Контур Авангард</a>

<h2>Отзывы</h2>
<ul class="doc-slider">
    <li>
        <a href="https://np-kontur.ru/media/editor/large/362_nii-polyus.jpg" rel="prettyPhoto[editor]">
            <img src="https://np-kontur.ru/media/editor/small/362_nii-polyus.jpg">
        </a>
    </li>
    <li>
        <a href="https://np-kontur.ru/media/editor/large/363_otzyv-irz.jpg" rel="prettyPhoto[editor]">
            <img src="https://np-kontur.ru/media/editor/small/363_otzyv-irz.jpg">
        </a>
    </li>
</ul>

<div class="files_list"></div>