<section class="full_hor bg2">
    <div class="content">
        <div class="main_field">
            <div class="about-page">
                <ul class="about-page__history-list">
                    <li>
                        <h2>1968 Основание завода</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/349_1.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/349_1.jpg">
                                </a>
                            </div>
                            <p>Основание завода "Контур" (Приказ №459 от 29.08.1968г. Министерства электронной промышленности) на базе Заволжской теплоэлектростанции с целью производства изделий электронной техники. Основание предприятия было обусловлено переходом нашей страны на интенсивный путь развития производства электронной техники. Главным назначением завода являлось освоение производства и выпуск прецизионного специнструмента для микросварки и микропайки при изготовлении микросхем и полупроводниковых приборов. Для выполнения данных задач завод был оснащен металлообрабатывающим оборудованием высокой точности и были подготовлены высококлассные специалисты. Таким образом, с поставленными задачами предприятие справилось успешно.</p>
                        </div>
                    </li>
                    <li>
                        <h2>1970 Слесарно-монтажный инструмент</h2>
                        <div class="description">
                            <p>Налажен выпуск слесарно-монтажного инструмента различной комплектности в качестве товаров народного потребления, предназначенных для выполнения ремонтных и сборочно-разборочных работ в быту и в различных областях техники.</p>
                        </div>
                    </li>
                    <li>
                        <h2>1971 Микроинструмент для микросварки и микропайки</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/348_2.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/348_2.jpg">
                                </a>
                            </div>
                            <p>Начало выпуска термокомпрессионных игл и зондов, капилляров и электродов. Постепенное освоение новых видов микроинструмента - твердосплавного, керамического, стального, рубинового и т.д. Параллельно начато изготовление пневматических машинок для доводки рабочих частей литформы и штампов./p>
                        </div>
                    </li>
                    <li>
                        <h2>1974-1976 Алмазный инструмент</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/344_3.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/344_3.jpg">
                                </a>
                                <a href="https://np-kontur.ru/media/editor/large/347_4.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/347_4.jpg">
                                </a>
                            </div>
                            <p>Освоен выпуск новых изделий электронной техники: - Алмазные инструменты (шлифовальные головки) для чистовой и черной обработки экранов кинескопов цветных телевизоров; - Алмазные круги с внутренней режущей кромкой, предназначенные для резки на пластины слитков кремния и сложных полупроводниковых материалов (соединений группы А3В5, галий-гадолиниевых гранатов, сапфира, стеклянных трубок, других твердых и хрупких неметаллических материалов).</p>
                        </div>
                    </li>
                    <li>
                        <h2>1977-1980 Увеличение ассортимента выпускаемой продукции</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/343_5.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/343_5.jpg">
                                </a>
                            </div>
                            <p>Начало выпуска пневматических универсальных наборов (ПУН 2,3), состоящих из набора пневматических машинок и наборов сменного инструмента к ним (НИС-1,2), а также твердосплавных сверл. Кроме этого, за данный период освоены новые товары народного потребления: транспортир, отвертки простые, крестообразные, с винтодержателем; наборы инструментов для работы по дереву и другие разновидности наборов слесарно-монтажного инструмента ("Любитель", "Спутник", "Юбилейный").</p>
                        </div>
                    </li>
                    <li>
                        <h2>1982 Видеокассеты формата VHS</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/345_6.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/345_6.jpg">
                                </a>
                            </div>
                            <p>В 1982 году завод "Контур" приобрел точнейшее японское оборудование по литью пластмассовых деталей и линию сборки видеокассет фирмы NAKATANI SOGIO CO. Наше предприятие впервые в стране освоило лицензионное серийное производство видеокассет наиболее популярного международного формата VHS.</p>
                        </div>
                    </li>
                    <li>
                        <h2>1984 Строительство нового завода</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/338_7.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/338_7.jpg">
                                </a>
                                <a href="https://np-kontur.ru/media/editor/large/339_8.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/339_8.jpg">
                                </a>
                            </div>
                            <p>С целью увеличения обьемов выпуска продукции введены в действие новые производственные мощности завода "Контур": завод стал состоять из двух производственных площадок - "Заволжской" и "Чебоксарской".</p>
                        </div>
                    </li>
                    <li>
                        <h2>1992 Медицинский инструмент</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/342_9.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/342_9.jpg">
                                </a>
                                <a href="https://np-kontur.ru/media/editor/large/346_10.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/346_10.jpg">
                                </a>
                            </div>
                            <p>С 1992 году завод приступил к освоению производства изделий медицинского назначения. В настоящее время освоены следующие виды изделий: - акупунктурные иглы и наборы игл для лечения широкого спектра заболеваний методом иглорефлексотерапии; - иглы одноразовые атравматические офтальмологические, сосудистые для нейро- и микрохирургии; - иглы одноразовые для сшивания тканей при микрохирургических операциях; - канюли глазные аспирационные, ирригационные и наборы канюль для проведения операции экстракции катаракты глаз. Освоены углеродные вакуумно-плазменные покрытия, получаемые в условиях низкотемпературного плазменного синтеза с уникальными физико-механическими свойствами для упрочнения поверхности оснастки, инструмента и т.д. для декоративной отделки зубных протезов с целью улучшения косметического эффекта, повышения их коррозийной стойкости и механической прочности.</p>
                        </div>
                    </li>
                    <li>
                        <h2>1994 Акционирование завода</h2>
                        <div class="description">
                            <p>Завод "Контур" пребразован в открытое акционерное общество "Контур".</p>
                        </div>
                    </li>
                    <li>
                        <h2>1995 Силовые модули</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/340_11.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/340_11.jpg">
                                </a>
                            </div>
                            <p>В 1995 году освоено производство силовых модулей на полевых и биполярных транзисторах с изолированным затвором для использования в энергосберегающем преобразовательном оборудовании.</p>
                        </div>
                    </li>
                    <li>
                        <h2>1997 Реконструкция ООО "Контур"</h2>
                        <div class="description">
                            <p>В 1997 году была проведена реконструкция ООО "Контур" с образованием следующих дочерних предприятий: ООО "Контур-А", ООО "Экспромт-Контур", ООО "МГиК", ООО "Энерго-Контур", ЗАО "Контур-ИНЭЛС", ООО "Контур-С", ООО "ИЦ-Контур", ООО "СМИКО".</p>
                        </div>
                    </li>
                    <li>
                        <h2>2000 Московское представительство</h2>
                        <div class="description">
                            <p>В октябре 2000 года открыто торговое Представительство ООО "Контур" в г.Москва по адресу: 125315, г.Москва, ул.Усиевича, д.24/2. Т/ф (095) 155-40-96 Электронная почта: kontur@go.ru</p>
                        </div>
                    </li>
                    <li>
                        <h2>2001 "Чистая комната"</h2>
                        <div class="description">
                            <p>25 августа на ООО "Контур" открылся новый цех "Чистая комната". Цех позволяет создать идеальные условия, необходимые для осуществления высокого уровня качества сборки электронных силовых модулей, мощных полупроводниковых приборов, уменьшающего размеры работающего под высоким напряжением электрооборудования в десятки раз. В "Чистой комнате" будет осуществляться монтаж, сборка электронных силовых модулей, контроль за основными параметрами производства. В комнате постоянно будет поддерживаться однопроцентная влажность воздуха, температура +1°С и чистота воздуха – 3,5 пылинки на литр воздуха. Производство электронных силовых модулей с помощью такого цеха может дать дополнительный ежегодный объем продаж почти в 50 миллионов рублей и 200 новых рабочих мест. На сегодня ООО "Контур" - единственное в России предприятие, выпускающее силовые модули в готовом виде.</p>
                        </div>
                    </li>
                    <li>
                        <h2>2002 Вручение диплома</h2>
                        <div class="description">
                            <p>ОАО «Контур» стал лауреатом всероссийского конкурса «Лучшие Российские предприятия» по итогам минувшего года. Председатель совета директоров Николай Иванович Бакуновец в торжественной обстановке в Москве получил диплом и медаль предприятию от организаторов смотра – Российского союза промышленников и предпринимателей, Торгово-промышленной палаты РФ и Экспертного Института.</p>
                            <p>2003г. Присвоено звание Лидера региональной экономики, как инноватору производства медицинской техники ООО «Микрохирургия глаза» и «Контур»</p>
                            <p>Достижения отмечены государственной премией Чувашской Республики. ОАО "Контур" и ООО НПЦ "Экспромт-Контур" освоил производство насадок высокого давления и специальных притиров для комплексного технологического оборудования обслуживающих атомные станции (Курская, Смоленская, Кольская и т.д.)</p>
                        </div>
                    </li>
                    <li>
                        <h2>2004г. ООО "Контур" стал лучшим в конкурсе</h2>
                        <div class="description">
                            <p>ОАО "Контур" стал лучшим в конкурсе предприятий и получил средства из федерального бюджета на развитие силовой электроники, что позволило выйти на серийное производство силовых модулей. Также освоено серийное производство высокотехнических наукоемких технологий для изготовления керамических деталей систем наведения авиационной техники.</p>
                        </div>
                    </li>
                    <li>
                        <h2>2005г. ООО "Контур" закончил программу "Коннектор"</h2>
                        <div class="description">
                            <p>В январе ООО "Контур" и "Микрохирургия глаза" начали серийный выпуск игл ирригации/ аспирации с диаметром отверстий:0,3 мм; 0,4; 0,5мм. В результате повышения культуры производства ООО "Контур" и ООО НПЦ "Экспромт-Контур" вышел на зарубежные рынки по микроинструменту и алмазному инструменту (Израиль, Болгария, Китай, Испания).</p>
                        </div>
                    </li>
                    <li>
                        <h2>2008 год, сентябрь .</h2>
                        <div class="description">
                            <p>Направление "Силовая Электроника" преобразовано в самостоятельное предриятие ЗАО "НПК "РППС Контур" в составе холдинга.</p>
                        </div>
                    </li>
                    <li>
                        <h2>2008 г.</h2>
                        <div class="description">
                            <div class="img-list">
                                <a href="https://np-kontur.ru/media/editor/large/366_img_9859r2-1.jpg" rel="prettyPhoto[editor]">
                                    <img src="https://np-kontur.ru/media/editor/small/366_img_9859r2-1.jpg">
                                </a>
                            </div>
                            <p>На базе ООО "Контур" выделено отдельное предпритяие ООО "НПЦ"Контур" по производству специального микроинструмента: электродов ЭК1-ЭК5, капилляров, инструмента монтажа. К этому же предприятию отнесено и производство слесарно-монтажного производства.</p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</section>